@use 'abstracts' as *;

.mainNavWrapper {
  grid-column: full-start / full-end;
  height: 5rem;

  .mainNav {
    background-color: $bg-color-default-black;
    height: 5rem;

    .mainNavMenu {
      align-items: center;
      column-gap: 2rem;
      display: flex;
      height: 100%;
      justify-content: center;
      list-style: none;
    }
  }
}
