@use 'abstracts' as *;

.fieldWrapper {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr 1.6rem;
  row-gap: 5px;

  &.hasError {
    input,
    textarea {
      border-bottom: 1px solid $color-red;
    }
  }

  .inputErrorIcon {
    width: 24px;
    height: 24px;
    justify-self: end;
    grid-row: 1;
    grid-column: 2 / -1;
  }

  .inputErrorMsg {
    font-size: 12px;
    font-weight: 500;
    grid-column: 1 / -1;
    justify-self: end;
    letter-spacing: -0.166667px;
    line-height: 16px;
    color: $color-red;
  }
}
