@use 'main' as *;

.aboutMeContainer {
  grid-column: center-start / center-end;
  margin-bottom: 5rem;

  .aboutMeContentWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    line-height: 2.5rem;

    .aboutMeImg {
      flex: 0 50%;
      align-self: flex-start;
      display: none;

      @include media-query('lg', 'up') {
        display: initial;
      }

      @include media-query('xl', 'up') {
        align-self: center;
      }
    }

    @include media-query('md', 'up') {
      flex-direction: row;
    }
  }

  .aboutMeContent {
    .aboutMeCopy {
      font-size: 1.8rem;
    }

    @include media-query('lg', 'up') {
      flex: 0 50%;

      .aboutMeHeadline {
        justify-content: flex-start;
      }
    }
  }

  @include media-query('md', 'up') {
    margin-bottom: 8rem;
  }
}
